# <b>Neural Network Model Design<b/>

## Import Cleaned Data

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("data_cleaning/train_data.csv")

In [4]:
df

,side_to_play,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_56,feat_57,feat_58,feat_59,feat_60,feat_61,feat_62,feat_63,feat_64,eval
0,-1.0,-5.0,-2.9,-3.0,-9.0,-1.5,-3.0,-2.9,-5.0,-1.0,...,1.0,5.0,2.9,3.0,9.0,1.5,3.0,2.9,5.0,0.07
1,1.0,-5.0,-2.9,-3.0,-9.0,-1.5,-3.0,-2.9,-5.0,-1.0,...,1.0,5.0,2.9,3.0,9.0,1.5,3.0,2.9,5.0,0.33
2,-1.0,-5.0,-2.9,-3.0,-9.0,-1.5,-3.0,-2.9,-5.0,-1.0,...,1.0,5.0,2.9,3.0,9.0,1.5,3.0,2.9,5.0,0.33
3,1.0,-5.0,-2.9,-3.0,0.0,-1.5,-3.0,-2.9,-5.0,-1.0,...,1.0,5.0,2.9,3.0,9.0,1.5,3.0,2.9,5.0,0.50
4,-1.0,-5.0,-2.9,-3.0,0.0,-1.5,-3.0,-2.9,-5.0,-1.0,...,1.0,5.0,0.0,3.0,9.0,1.5,3.0,2.9,5.0,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90393,1.0,0.0,-1.5,0.0,0.0,0.0,0.0,-5.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,6.30
90394,-1.0,0.0,-1.5,0.0,0.0,0.0,0.0,-5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5,0.0,6.06
90395,1.0,0.0,-1.5,0.0,0.0,0.0,0.0,-5.0,0.0,0.0,...,0.0,0.0,-9.0,0.0,0.0,0.0,0.0,1.5,0.0,6.47
90396,-1.0,0.0,-1.5,0.0,0.0,0.0,0.0,-5.0,0.0,0.0,...,1.5,0.0,-9.0,0.0,0.0,0.0,0.0,0.0,0.0,6.51
90397,1.0,0.0,-1.5,0.0,0.0,0.0,0.0,-5.0,0.0,0.0,...,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.19

In [5]:
df.shape

(90398, 66)

In [6]:
df["eval"] = df["eval"].clip(lower = -15, upper = 15)

In [7]:
df["eval"].min()

-15.0

In [8]:
X = df.drop(columns = "eval")

In [9]:
y = df[["eval"]]

In [10]:
y.head()

   eval
0  0.07
1  0.33
2  0.33
3  0.50
4  0.58

In [82]:
X_pred = X.iloc[[4]]
X_pred

,side_to_play,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_55,feat_56,feat_57,feat_58,feat_59,feat_60,feat_61,feat_62,feat_63,feat_64
4,-1.0,-5.0,-2.9,-3.0,0.0,-1.5,-3.0,-2.9,-5.0,-1.0,...,1.0,1.0,5.0,0.0,3.0,9.0,1.5,3.0,2.9,5.0

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
X_train.shape

(63278, 65)

## Deep Learning Model

In [13]:
from tensorflow.keras import Sequential, layers

2022-11-09 17:25:16.390050: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-11-09 17:25:17.344278: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-11-09 17:25:17.344310: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-11-09 17:25:17.469752: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-11-09 17:25:19.574388: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-11-09 17:25:19.574551: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-11-09 17:25:19.574563: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [14]:
# Model definition
model = Sequential()
model.add(layers.Dense(2048, activation='relu', input_dim=65))
# model.add(layers.Dense(64, activation='relu'))
# model.add(layers.Dense(64, activation='relu'))
# model.add(layers.Dense(64, activation='relu'))
# model.add(layers.Dense(64, activation='relu'))
# model.add(layers.Dense(32, activation='relu'))
# model.add(layers.Dense(16, activation='relu'))
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(1, activation='linear'))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2048)              135168

 dense_1 (Dense)             (None, 64)                131136

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 266,369
Trainable params: 266,369
Non-trainable params: 0
_________________________________________________________________

2022-11-09 17:26:00.321598: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-11-09 17:26:00.322732: W tensorflow/stream_executor/cuda/cuda_driver.cc:263] failed call to cuInit: UNKNOWN ERROR (303)
2022-11-09 17:26:00.323108: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (DESKTOP-0Q0JFQN): /proc/driver/nvidia/version does not exist
2022-11-09 17:26:00.326131: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
model.compile(loss='mse', optimizer='adam')

In [ ]:
model.fit(X_train, y_train, batch_size=70, epochs=20,verbose = 1)

Epoch 1/20
904/904 [==============================] - 4s 5ms/step - loss: 0.4231
Epoch 2/20
904/904 [==============================] - 4s 5ms/step - loss: 0.4041
Epoch 3/20
904/904 [==============================] - 4s 5ms/step - loss: 0.4124
Epoch 4/20
904/904 [==============================] - 4s 5ms/step - loss: 0.4188
Epoch 5/20
904/904 [==============================] - 4s 5ms/step - loss: 0.4042
Epoch 6/20
904/904 [==============================] - 5s 5ms/step - loss: 0.4007
Epoch 7/20
427/904 [=============>................] - ETA: 2s - loss: 0.3917

In [33]:
model.evaluate(X_test, y_test, verbose = 1)

848/848 [==============================] - 2s 3ms/step - loss: 9.2777

9.277684211730957

## Exporting model

In [125]:
# serialize model to JSON
model2_json = model.to_json()
with open("model2.json", "w") as json_file:
    json_file.write(model2_json)
# serialize weights to HDF5
model.save_weights("model2.h5")
print("Saved model to disk")

Saved model to disk

## Loading model

In [ ]:
# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

## Evaluating Loaded models

In [ ]:
loaded_model.compile(loss='RMSE', optimizer='adam', metrics=['accuracy'])
score = loaded_model.evaluate(X, y, verbose=1)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))